{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Cart</title>
    <link rel="stylesheet" href="{% static 'cart_files/cart.css' %}">
</head>
<body>
    <header>
        <h1>Customer Cart</h1>
    </header>
    <div id="cart-content">
        <!-- Cart items will be displayed here by cart.js -->
    </div>
    <div class="cart-total">
        <p>Total: $<span id="total-amount">0.00</span></p>
        <form  id="order-form" method="POST"> <!-- Ensure the form uses the POST method -->
            {% csrf_token %}
            <button type="submit" id="order-button">Order Now</button>
        </form>
        <a href="{% url 'hotelmenu' %}" id="back-to-menu">Back to Menu</a>
    </div>
    <button id="generate-bill-button"><a href={% url 'userbill' %}>Generate Bill</a></button>
    <script src="{% static 'cart_files/cart.js' %}"></script>
</body>
</html>
